* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background-color: #eee;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  height: 100vh;
  background: aliceblue;
  padding: 5px;
}

.grid-items,
.grid-items-menu,
.grid-item {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.grid-items-menu {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

#new {
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(57, 57, 226,0.5);
  cursor: pointer;
}

.left {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.right {
  grid-column: 3 / 4;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  background: white;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
}

footer {
  grid-column: 1 / 4;
  height: 10vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

thead th,
tbody td {
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

th.acao,
td.acao {
  text-align: center;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 40%;
}

.modal label {
  font-size: 14px;
  margin-top: 10px;
}

.modal input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}